# H/T: https://jamielinux.com/docs/openssl-certificate-authority/_downloads/intermediate-config.txt

[ca]
default_ca = CA_default

[CA_default]
new_certs_dir     = .
database          = ./intermediate-ca-database.txt
serial            = ./intermediate-ca-serial.txt
private_key       = ./intermediate-ca-key.pem
certificate       = ./intermediate-ca-cert.pem
default_md        = sha256

name_opt          = ca_default
cert_opt          = ca_default
default_days      = 375
preserve          = no
policy            = policy_loose
copy_extensions   = copy

[policy_loose]
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[req]
default_bits        = 2048
distinguished_name  = req_distinguished_name
prompt              = no
string_mask         = utf8only
default_md          = sha256
x509_extensions     = v3_ca

[req_distinguished_name]
countryName            = US
stateOrProvinceName    = California
organizationName       = Initech
organizationalUnitName = Initech Certificate Authority
commonName             = Initech Intermediate CA

[v3_ca]
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always,issuer
basicConstraints        = critical,CA:true
keyUsage                = critical,keyCertSign
